html, body {
    height: 100%;
    margin: 0;
}

#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    margin-top: 80px; 
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%; 
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto; 
    letter-spacing: 0.3px;
    scrollbar-width: thin;
    scrollbar-color: #7878DD transparent; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-post .blog-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 800;
}

.blog-post .blog-meta {
    font-size: 0.9em;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
}

.blog-post .blog-content {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #444;
}

.blog-content-img {
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: 20px 0;
}

.blog-content-img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    height:auto;
    object-fit: cover;
    object-position: center;
    transition: .3s all ease;
    border-radius: 10px;
}

.blog-post .blog-content h2 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.7rem;
}

.blog-post .blog-content p {
    margin-bottom: 20px;
    text-align: justify;
}

.blog-post .back-to-blogs a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.back-to-blogs {
    text-align: center;
    margin-top: 30px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color:#171C26;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: .3s ease all;
}

.back-button:hover {
    background-color: #7878DD;
    transition: .3s ease all;
}

/* ============= MEDIA QUERY ==================== */
@media (min-width: 488px)  and (max-width:600px) {
    .blog-post .blog-title {
        font-size: 2.5rem;
    }
    
    .blog-post .blog-meta {
        font-size: 1.2rem;
    }
    
    .blog-post .blog-content {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }
    .blog-post .blog-content h2 {
        font-size: 2rem;
    }
    
    
    .blog-post .back-to-blogs a {
        font-size: 1.8rem;
    }   
}

@media (min-width: 601px)  and (max-width:900px) {
    .blog-post .blog-title {
        font-size: 2.8rem;
    }
    
    .blog-post .blog-meta {
        font-size: 1.5rem;
    }
    
    .blog-post .blog-content {
        font-size: 1.7rem;
        line-height: 2.2rem;

    }
    .blog-post .blog-content h2 {
        font-size: 2.3rem;
    }
    
    
    .blog-post .back-to-blogs a {
        font-size: 2.1rem;
    }   
}

@media (min-width:901px) and (max-width:1024px){
    .blog-post .blog-title {
        font-size: 3.1rem;
    }
    
    .blog-post .blog-meta {
        font-size: 1.8rem;
    }
    
    .blog-post .blog-content {
        font-size: 2.0rem;
        line-height: 2.5rem;

    }
    .blog-post .blog-content h2 {
        font-size: 2.6rem;
    }
    
    
    .blog-post .back-to-blogs a {
        font-size: 2.4rem;
    }   
}

@media (min-width: 1025px) {
    #blog {
        max-width: 750px;

    }
    .blog-post .blog-title {
        font-size: 3.4rem;
    }
    
    .blog-post .blog-meta {
        font-size: 2.1rem;
    }
    
    .blog-post .blog-content {
        font-size: 2.3rem;
        line-height: 2.8rem;

    }
    .blog-post .blog-content h2 {
        font-size: 2.9rem;
    }
    
    
    .blog-post .back-to-blogs a {
        font-size: 2.7rem;
    }   
}