{% extends "base.html" %}

{% block title %}FAQs{% endblock %}

{% block content %}

    <div class="main-wrapper">
        <div class="faq-container">
            <h1>Frequently Asked Questions</h1>
            <!-- <p>Here you can find answers to the most common questions.</p> -->
        </div>
    
        <div class="questions-container">
            {% for item in faq_data %}
                <div class="question">
                    <h2 class="question-title">{{ loop.index }}. {{ item.question }}</h2>
                    <p class="answer">{{ item.answer }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block body_style %}
    style="background: url('{{ url_for('static', filename='assets/FAQ/gym_s2.png') }}') no-repeat center center fixed; background-size: cover;"
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">
{% endblock %}
